@import url('./variables.css');

@media only screen and (max-width: 480px) {
	.banner {
		grid-template-columns: 1fr;
		background-image: none;
		background-color: var(--primary-light);
		padding: 10%;
	}
	.heading-xl {
		font-size: 3rem;
	}
	.get-started-button {
		width: 70%;
		margin-bottom: 5%;
	}
	.explaination {
		width: 100%;
	}
	.customer-care {
		display: none;
	}

	.services {
		grid-template-columns: 1fr;
		padding: 0%;
	}

	.intro {
		padding: 0% 2%;
	}

	.intro-card {
		grid-template-columns: 1fr;
	}

	.intro-image {
		margin-bottom: 0;
	}

	.faq-item-container {
		grid-template-columns: 1fr;
	}

	.testimonial-heading {
		font-size: 1.8rem;
	}
	.testimonial-para {
		width: 80%;
	}
	.testimonial-para-container {
		margin-bottom: 15%;
	}
	.faq {
		margin-top: 30%;
	}
	.faq-heading {
		text-align: center;
	}

	.testimonial-card-container {
		display: none;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.contact-us {
		grid-template-columns: 1fr;
	}
	.download-button {
		margin-bottom: 5%;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
	.banner {
		background-image: none;
		background-color: var(--primary-light);
	}
	.explaination {
		width: 100%;
	}
	.get-started-button {
		width: 80%;
	}
}
@media only screen and (max-width: 780px) and (min-width: 481px) {
	.contact-us {
		grid-template-columns: 1fr;
	}
	.download-button {
		margin-bottom: 5%;
	}

	.services {
		grid-template-columns: 1fr;
		padding: 0;
	}

	.faq-heading {
		margin-top: 5%;
	}
	.faq-item-container{
		grid-template-columns: 1fr;
	}

	.testimonial-heading {
		font-size: 3rem;
	}

	.intro-card {
		grid-template-columns: 1fr;
	}

	.explaination {
		width: 90%;
	}



}

@media only screen and (max-width: 1024px) and (min-width: 481px) {
	.banner {
		grid-template-columns: 1fr;
		background-image: none;
		background-color: var(--primary-light);
		padding: 10%;
	}

	.faq{
		margin-top: 5%;
		padding-top: 5%;
	}
	.intro {
		margin-bottom: 10%;
	}





	.customer-care {
		display: none;
	}
	.testimonial-card-container {
		grid-template-columns: 1fr;
	}
}
