@import url('./variables.css');

@media only screen and (max-width: 480px) {
	.banner {
		grid-template-columns: 1fr;
		background-image: none;
		background-color: var(--primary-light);
		padding: 10%;
	}
	.heading-xl {
		font-size: 3rem;
	}
	.get-started-button {
		width: 50%;
		margin-bottom: 5%;
	}
	.explaination {
		width: 100%;
	}
	.customer-care {
		display: none;
	}

	.services {
		grid-template-columns: 1fr;
		padding: 0%;
	}

	.intro {
		padding: 0% 4%;
		padding-top: 10%;
		padding-bottom: 15%;
	}
	.service-paragraph {
		width: 90%;
		font-weight: 300;
	}

	.service-card {
		margin: 5% 0;
	}

	.heading-md {
		font-size: 2rem;
	}

	.intro-card {
		grid-template-columns: 1fr;
		margin-bottom: 5%;
	}

	.intro-image {
		margin-bottom: 0;
	}

	.faq-item-container {
		grid-template-columns: 1fr;
	}

	.testimonial-heading {
		font-size: 1.8rem;
		margin-top: 15%;
	}
	.testimonial-para {
		width: 80%;
	}
	.testimonial-para-container {
		margin-bottom: 15%;
	}
	.faq {
		margin-top: 30%;
	}
	.faq-heading {
		text-align: center;
	}

	.testimonial-card-heading {
		font-weight: 400;
	}

	.testimonial-card-para {
		font-size: 0.9rem;
		margin-bottom: 6%;
	}

	.testimonial-card-container {
		display: none;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 0 4%;
	}

	.contact-us {
		grid-template-columns: 1fr;
		padding: 0 2%;
	}
	.contact-us-heading {
		margin-bottom: 5%;
		margin-top: 25%;
		font-size: 1.7rem;
	}

	.contact-us-subheading {
		font-size: 1.9rem;
		font-weight: 500;
		width: 100%;
	}

	.download-button {
		margin-top: 7%;
		margin-bottom: 5%;
		padding: 2% 8%;
	}

	.banner-heading {
		font-size: 2rem;
	}
	.logo {
		display: flex;
		align-items: center;
		margin: 0 auto 6% auto;
	}

	.banner-subheading {
		font-size: 2.3rem;
		font-weight: 700;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
	.banner {
		background-image: none;
		background-color: var(--primary-light);
	}
	.explaination {
		width: 100%;
	}
	.get-started-button {
		width: 80%;
	}
}
@media only screen and (max-width: 780px) and (min-width: 481px) {
	.contact-us {
		grid-template-columns: 1fr;
	}
	.download-button {
		margin-bottom: 5%;
	}

	.services {
		grid-template-columns: 1fr;
		padding: 0;
	}

	.faq-heading {
		margin-top: 5%;
	}
	.faq-item-container {
		grid-template-columns: 1fr;
	}

	.testimonial-heading {
		font-size: 3rem;
	}

	.intro-card {
		grid-template-columns: 1fr;
		margin-bottom: 5%;
	}

	.explaination {
		width: 90%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 481px) {
	.banner {
		grid-template-columns: 1fr;
		background-image: none;
		background-color: var(--primary-light);
		padding: 10%;
	}

	.faq {
		margin-top: 5%;
		padding-top: 5%;
	}
	.intro {
		margin-bottom: 10%;
	}

	.customer-care {
		display: none;
	}
	.testimonial-card-container {
		grid-template-columns: 1fr;
	}
}
